<table mat-table [dataSource]="users" class="mat-elevation-z8" style="width: 100%">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="custom-padding"> Name </th>
        <td mat-cell *matCellDef="let element" class="custom-padding"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef class="custom-padding"> Role </th>
        <td mat-cell *matCellDef="let element" class="custom-padding"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="datecreated">
        <th mat-header-cell *matHeaderCellDef class="custom-padding" nowrap> Date created </th>
        <td mat-cell *matCellDef="let element" class="custom-padding" nowrap>
            {{ (element.datecreated / 1000 | amFromUnix) | amDateFormat: 'YYYY-MM-DD HH:mm'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="datemodified">
        <th mat-header-cell *matHeaderCellDef class="custom-padding" nowrap> Date modified </th>
        <td mat-cell *matCellDef="let element" class="custom-padding" nowrap>
            {{element.modified ? ((element.modified / 1000 | amFromUnix) | amDateFormat: 'YYYY-MM-DD HH:mm') : null}}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="text-align: center"> Actions </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
            <button mat-raised-button color="primary" (click)="editUser(element._id)">Edit</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-fab color="accent" class="add-user" matTooltip="Add user" (click)="addUser()">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>
